<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>379874868707-f0jd18o2nfcn6cu0b83i398uo0s3j85h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.379874868707-f0jd18o2nfcn6cu0b83i398uo0s3j85h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>379874868707-rav2snih35v7bk86atedjc082qm3tdmv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDAvb6RieKDT5qYyGhLd9NrNfiUOft9eb8</string>
	<key>GCM_SENDER_ID</key>
	<string>379874868707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eLearning.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>e-learning-d9f06</string>
	<key>STORAGE_BUCKET</key>
	<string>e-learning-d9f06.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:379874868707:ios:4a2ad3fe628a8d169db4d6</string>
</dict>
</plist>